/* Write your CSS here! */
.column {
    float: left;
    width: 25%;
  }
  .title
  {
    font-size: 60px;
    color:rgb(12, 1, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  h1{
    font-size: 48px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    text-align: center;
  }

  h2{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkgray;
    text-align: center;
    
     }

     h3{
      font-size: 24px;
      text-align: center;
     }
  p{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* #toppage{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(18,9,121,1) 7%, rgba(2,0,36,1) 87%, rgba(18,9,121,1) 95%);
    padding-bottom: 30px;
  } */
  #fullwidth{
    width:100%;
  }

  #mainimgleft
  {
    width: 600px;
    height:400px;
    float:left;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row {
    
    display:flex;
    
  }
  .pinimage{
    max-width: 100%;
    height: auto;
  }

  .pininfo{
    font-size: 28px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  #mainHeading{
    margin-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    color:red;

  }

  body{
    margin:8px;
    display: block;
  }
  #testP{
    font-size: 28px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .funParagraph{
    color:green;
  }